# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Serverless offline dirs
.build

# Jest directories - when implemented
coverage 

# Docker runtime db
.dynamodb
shared-local-instance.db

.env